<nav class="bg-white rounded-1 mb-3">
    <div class="d-flex pt-2 align-items-md-center flex-wrap">
        <a class="btn btn-light fs-7 ms-2 mb-2" target="github" href="{{githubactions.edit}}">ویرایش صفحه در گیت هاب</a>
        <a class="btn btn-light ms-2 fs-7 mb-2" target="github" href="{{githubactions.history}}">تاریخچه صفحه</a>
        <a class="btn btn-light ms-2 fs-7 mb-2" target="github" href="{{githubactions.issue}}">گزارش اشکال</a>
    </div>
</nav>