<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {{#each topmenu.items }}
    <li class="nav-item">
        <a class="nav-link{{#if active}} active{{/if}}" aria-current="page" href="{{path}}">
            {{ title }}
        </a>
    </li>
    {{/each}}
</ul>