<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ page.title }} - DotJS</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/themes/default/css/bootstrap.rtl.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/themes/default/css/main.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    {{#each layout.head}}
        {{{ this }}}
    {{/each}}
</head>

<body>
    <div class="container-md">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning rounded-1 mt-3 mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/assets/images/logo.png" width="48" height="48" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {{> topmenu }}
                </div>
            </div>
        </nav>
        {{> githubactions }}
        {{> breadcrumb }}
        <div class="page-container">
            {{> page }}
            {{> toc }}
        </div>
    </div>
    <script src="/themes/default/js/bootstrap.bundle.min.js"></script>
    <script src="/themes/default/js/components.js"></script>
    {{#each layout.body}}
        {{{ this }}}
    {{/each}}
</body>

</html>
